<%= render 'shared/navbar_colored' %>
<h2 style="margin-top: 100px;"class="text-center">Modifier vos infos personnelles:</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs col-lg-6 col-sm-4 offset offset-2">
    <%= f.input :email, label: "Mail:", required: true, autofocus: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :password, label: "Mot de passe:",
                hint: "Laissez vide si vous ne voulez pas le changer.",
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation, label: "Confirmation mot de passe:",
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :current_password, label: "Mot de passe actuel:",
                hint: "Nous avons besoin de votre mot de passe actuel pour valider vos changements.",
                required: true,
                input_html: { autocomplete: "current-password" } %>
  </div>

  <div class="form-actions">
    <p class="text-center"><%= f.button :submit, "MODIFIER", class: "cart-btn" %></p>
  </div>
<% end %>

<p class="text-center"><%= link_to "Supprimer mon compte", registration_path(resource_name), data: { confirm: "Êtes-vous sûr ?" }, method: :delete %></p>

<p class="text-center"><%= link_to "Retour", :back %></p>
