<%= render 'shared/navbar_colored' %>
<div class="container" style="margin-top: 100px;">
  <h2 class="text-center">Créer un compte:</h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs col-6 offset-3">
      <%= f.input :first_name, label: "Prénom",
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "first_name" } %>
      <%= f.input :last_name, label: "Nom",
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "last_name" } %>
      <%= f.input :street_name, label: "Nom de rue, avenue..",
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "street_name" } %>
      <%= f.input :street_number, label: "N° de voie",
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "street_number" } %>
      <%= f.input :postal_code, label: "Code postal",
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "postal_code" } %>
      <%= f.input :city, label: "Ville",
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "city" } %>
      <%= f.input :optional, label: "Informations complémentaires",
                  required: false,
                  autofocus: true,
                  input_html: { autocomplete: "optionnal" } %>
      <%= f.input :email, label:"Mail:",
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" }%>

      <%= f.input :password, label: "Mot de passe:",
                  required: true,
                  hint: ("#{@minimum_password_length} caractères minimum" if @minimum_password_length),
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation, label: "Confirmation mot de passe:",
                  required: true,
                  input_html: { autocomplete: "new-password" } %>
    </div>

    <div class="form-actions">
      <p class="text-center"><%= f.button :submit, "M'ENREGISTRER", class: "cart-btn" %></p>
    </div>
  <% end %>

  <p class="text-center"><%= render "devise/shared/links" %></p>
</div>
