<div class="footer">
  <div class="footer-site-link">
    <div class="d-flex">
      <div class="d-flex site-links">
        <%= link_to "Nos Produits", products_path %>
        <%= link_to "Contact", contact_info_path %>
        <%= link_to "Conditions de vente", products_path %>
      </div>
      <div class="d-flex site-links">
        <%= link_to "Zone de livraison", delivery_path %>
        <%= link_to "Notre élevage", products_path %>
        <%= link_to "Nos Produits", products_path %>
      </div>
    </div>
    <div class="footer-links">
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-facebook-messenger"></i></a>
    </div>
  </div>
  <div>
    <div class="test">
      <p>Rejoignez notre Mailing List:</p>
      <!-- <input type="text" id="bobmail" name="mailing-list" value="<%#= current_user.email %>"> -->
    </div>
    <div class="footer-copyright">
      © 2020, Ferme de Beau Printemps
    </div>

  </div>
</div>
