<%= render 'shared/navbar_colored' %>
<div class="container" style="min-height: 90vh;">
  <div class="test d-flex justify-content-around">
    <div class="orders col-lg-5 col-12" >
      <h4 class="text-center" style="margin-top:100px;">Mes commandes:</h4>
      <% if current_user.admin %>
          <div class="all-orders">
            <ul>
              <% @all_orders.where(state: 'paid').reverse.each do |order| %>
                <li><p><%= link_to "Commande #{order.id}", order_path(order) %></p></li>
              <% end %>
            </ul>
  <!--         <div class="orders-date"> -->
            <ul>
              <% @all_orders.where(state: 'paid').reverse.each do |order| %>
                <li><p><%= order.created_at.strftime("%d %b. %Y") %></p></li>
              <% end %>
            </ul>
          </div>
          <!-- </div> -->
      <% else %>
        <% @orders.where(state: 'paid').each do |order| %>
          <ul>
            <li><p class="text-center"><%= link_to order.created_at.strftime("%d %b. %Y"), order_path(order) %></p></li>
          </ul>
        <% end %>
      <% end %>
    </div>
    <div class="account col-lg-5 col-12">
      <h4 class="text-center" id="account">Mon compte:</h4>
      <p class="text-center">L'adresse de livraison fournie lors de votre inscription servira d'adresse de livraison pour vos commandes, vous pouvez la modifier à tout moment ici:</p>
      <p class="text-center"><%= link_to "Modifier", edit_user_registration_path(current_user), class: "cart-btn-ctn" %></p>
      <p class="text-center"><%= link_to "Déconnexion", destroy_user_session_path, method: :delete%></p>
    </div>
  </div>
  <% if current_user.admin %>
    <div class="products">
      <% @products.each do |product| %>

        <div class="cart-product d-flex align-items-center">
          <% if product.photo.attached? %>
            <div class="cart-product-img"><%= cl_image_tag(product.photo.key, height: '64', width: '96') %></div>
          <% else %>
            <div class="cart-product-img"><%= image_tag(product.show_image_url, height: '64', width: '96') %></div>
          <% end %>
          <div class="cart-product-name">
            <%= link_to product_path(product) do  %>
              <p><%= product.name %></p>
            <% end %>
          </div>
          <div class="cart-product-price">
            <%= link_to product_path(product), method: :delete, data: { confirm: "Êtes-vous sûr ?" } do %>
              <i class="fas fa-times" style="color: black"></i>
            <% end %>
             <%= link_to edit_product_path(product) do %>
               <i class="far fa-edit" style="color: black;"></i>
             <% end %>
             <% if product.pod == true %>
               <%= link_to product_productod_path(product), remote: true do %>
                 <i class="fas fa-crown" style="color: #43E140;"></i>
               <% end %>
             <% else %>
               <%= link_to product_productod_path(product), remote: true do %>
                 <i id="podCrown" class="fas fa-crown" style="color: black;"></i>
               <% end %>
             <% end %>
          </div>
          <div class="cart-product-qty d-flex justify-content-center">

          </div>
          <div class="cart-product-total">
            <p class="text-right"><%= product.price %>€</p>
          </div>
        </div>

      <% end %>
    </div>
  <% end %>
</div>

