<%= render 'shared/navbar_colored' %>
<div class="container" style="min-height: 60vh;">
  <% if current_user && current_user.admin %>
    <h3 style="margin-top: 100px;" class="text-center">Commande du <%= @order.created_at.strftime("%d %b. %Y") %></h3>

    <% @order_items.each do |item| %>
    <% product = Product.find(item.product_id) %>
    <div class="col-10 offset-1 cart-grid">
      <div class="cart-product d-flex align-items-center">
        <div class="cart-product-img"><%= cl_image_tag(product.photo.key, height: '64', width: '96') %></div>
        <div class="cart-product-name">
          <p><%= product.name %><br>
        </div>
        <div class="cart-product-price">
          <p class="text-center"><%= product.price %>€</p>
        </div>
        <div class="cart-product-qty d-flex justify-content-center">
          <p class="text-center"><%= item.quantity %></p>
        </div>
        <div class="cart-product-total">
          <p class="text-right"><%= product.price * item.quantity.to_i %>€</p>
        </div>
      </div>
      </div>
      <% end %>
      <div class="order-info">
        <p class="text-center">Frais de livraison: <strong><%= @delivery_fee %>€</strong></p>
        <p class="text-center">Prix total: <strong><%= @order.amount_cents + @delivery_fee %>€</strong></p>
        <% if @order.state == "paid" %>
          <p class="text-center">Statut:<strong> Paiement confirmé</strong></p>
        <% else %>
          <p class=text-center>Statut:<strong> Paiement en attente</strong></p>
        <% end %>
        <p class="text-center">Client: <strong><%= @order.client_name %></strong></p>
        <p class="text-center">Adresse de livraison: <strong><%= @order.street %>, <%= @order.postal_code %>, <%= @order.city %>, <%= @order.country %>.</strong></p>
        <p class="text-center">Adresse email: <strong><%= @order.client_email %></strong></p>
        <p class="text-center"><%= link_to 'Retour à la boutique', products_path, class: "cart-btn-ctn" %></p>
        <p class="text-center"><%= link_to 'Retour aux commandes', orders_path %></p>
      </div>
  <% else %>
  <h3 style="margin-top: 100px;" class="text-center">Votre commande du <%= @order.created_at.strftime("%d %b. %Y") %></h3>

  <% @order_items.each do |item| %>
  <% product = Product.find(item.product_id) %>
  <div class="col-10 offset-1 cart-grid">
    <div class="cart-product d-flex align-items-center">
      <div class="cart-product-img"><%= image_tag(product.photo.key, height: '64', width: '96') %></div>
      <div class="cart-product-name">
        <p><%= product.name %><br>
      </div>
      <div class="cart-product-price">
        <p class="text-center"><%= product.price %>€</p>
      </div>
      <div class="cart-product-qty d-flex justify-content-center">
        <p class="text-center"><%= item.quantity %></p>
      </div>
      <div class="cart-product-total">
        <p class="text-right"><%= product.price * item.quantity.to_i %>€</p>
      </div>
    </div>
    </div>
    <% end %>
    <div class="order-info">
      <p class="text-center">Frais de livraison: <strong><%= @delivery_fee %>€</strong></p>
      <p class="text-center">Prix total: <strong><%= @order.amount_cents + @delivery_fee %>€</strong></p>
      <% if @order.state == "paid" %>
        <p class="text-center"><strong>Statut: Paiement confirmé</strong></p>
      <% else %>
        <p class=text-center><strong>Statut: Paiement en attente</strong></p>
      <% end %>
      <p class="text-center">Adresse de livraison: <strong><%= @order.client_name %>, <%= @order.street %> <%= @order.postal_code %>, <%= @order.city %>, <%= @order.country %>.</strong></p>
      <p class="text-center">La date de livraison ainsi que d'autres informations utiles au bon déroulement de votre commande vous seront transmis rapidement par e-mail à cette adresse: <strong><%= @order.client_email %></strong></p>
      <p class="text-center"><%= link_to 'Retour à la boutique', products_path, class: "cart-btn-ctn" %></p>
      <p class="text-center"><%= link_to 'Retour aux commandes', orders_path %></p>
    </div>
    <% end %>
</div>

