<%= render 'shared/navbar' %>
<div class="home_banner">
  <h1 class="text-center">FERME DE <span>BEAU</span> PRINTEMPS</h1>
  <h5 class="text-center">AGRICULTURE BIOLOGIQUE</h5>
  <p class="text-center">Direct de l'éleveur au consommateur</p>
  <p class="text-center"><%= link_to 'DÉCOUVRIR NOS PRODUITS', categories_path, class: "btn btn-success" %></p>
</div>
<div class="container" id="scroll">
  <div class="d-flex justify-content-center">
    <div class="product_moment">
          <h4>[EN CE MOMENT!] <%= @pod.name.upcase %></h4>
      <div class="image">
        <div class="d-flex justify-content-center">
          <%= cl_image_tag(@pod.photo.key, height: 320, width: 500) %>
        </div>
        <div class="product-card-title">
          <div class="add_to_cart d-flex justify-content-between align-items-center">
            <h4 style="opacity: 0.7">Acompte: <%= @pod.price %>€</h4>
            <input type="number" id="bob" name="quantity" min="1" max="9" value="1">
             <%# if user_signed_in?  %>
              <%= link_to 'AJOUTER AU PANIER', "/cart/add/#{@pod.id}.1", class: "cart-btn", method: :put, id: "btn", 'data-toggle' => "modal", 'data-target' => "#myModal" %>
            <%# else %>
              <%#= link_to 'AJOUTER AU PANIER', new_user_session_path, class: "cart-btn" %>
            <%# end %>
          </div>
          <div class="prod-description">
            <p><strong>Votre colis contient:</strong></p>
            <p style="opacity: 0.7;"><%= sanitize @pod.description %></p>
            <p><strong>Conditions de vente & Livraison :</strong><br>

Acompte de <%= humanized_money @pod.price %>€ & Frais de ports de 2,10€ si le poids total de la commande est inférieur à 10Kg à régler en ligne lors de la commande (le solde sera à régler lors de la livraison selon le poids exact du colis).<br>

Pour toute question appelez Michel au <strong>06 58 96 38 05 !</strong><br>
<br>
          </div>
        </div>
      </div>
    </div>
  </div>
  <h4 class="text-center">NOS MEILLEURES VENTES:</h4>
  <div class="cards" style="margin-top: 40px;">
    <% @most_sold_products.sample(3).each do |product| %>
      <%= link_to product_path(product) do %>
    <div data-aos="fade-up">
      <div class="card-category" style="text-decoration: none; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path product.photo.key %>);">
        <div class="product-name">
          <%= product.name %>
        </div>
        <div class="product-place">
        </div>
        <div class="product-price text-right">
          <span>Acompte: <%= humanized_money_with_symbol(product.price) %></span>
        </div>
      </div>
    </div>
      <% end %>
    <% end %>
  </div>
  <p class="text-center mt-4"><%= link_to 'VOIR TOUT', categories_path, class: "cart-btn-ctn" %></p>
  <div class="recipe">
    <h4 class="text-center" style="margin-top: 40px;">SUGGESTION RECETTE:</h4>
    <h4 class="text-center"><%= @recipe.name %></h4>
    <div class="recipe-img d-flex justify-content-center" >
      <div class="recipe-img--img" style="background-image: url(<%= cl_image_path @recipe.photo.key %>);"></div>
    </div>
    <div class="details d-flex align-items-center justify-content-center">
      <div class="d-flex flex-column justify-content-center">
        <p style="margin: 10px;"><strong>Personnes</strong></p>
        <p class="text-center" style="margin: 10px;"></i><%= @recipe.capacity %></p>
      </div>
      <div class="d-flex flex-column justify-content-center">
        <p style="margin: 10px;" class="text-center"><strong>Durée</strong></p>
        <p style="margin: 10px;"></i><%= @recipe.cook_time + @recipe.prep_time %> min</p>
      </div>
      <div class="d-flex flex-column justify-content-center">
        <% if @recipe.difficulty <= 1 %>
          <p style="margin-left: 20px;"><strong>Très Facile</strong></p>
        <% elsif @recipe.difficulty == 2 %>
          <p style="margin-left: 20px;"><strong>Facile</strong></p>
        <% elsif @recipe.difficulty == 3 %>
          <p style="margin-left: 20px;"><strong>Moyen</strong></p>
        <% else %>
          <p style="margin-left: 20px;"><strong>Difficile</strong></p>
        <% end %>
        <div class="difficulty-points" style="margin-left: 20px;">
          <% @recipe.difficulty.times do %>
            <i class="fas fa-circle" style="color: #43E140;"></i>
          <% end %>
          <% (4 - @recipe.difficulty).times do %>
            <i class="fas fa-circle"></i>
          <% end %>
        </div>
      </div>
    </div>
    <h5 class="text-center" style="margin: 20px 0;">Préparation</h5>
    <div class="preparation">
    <div class="ingredients">
      <ul style="list-style: none;">
        <% @recipe.ingredients.split(",").each do |ingredient| %>
          <li><p><%= ingredient %></p></li>
        <% end %>
      </ul>
    </div>
    <div class="steps">
      <ul style="list-style: none;">
        <% @recipe.description.split("\\").each do |step| %>
         <li><p class=""><%= step %></p></li>
        <% end %>
      </ul>
      <p>Bon Appétit!</p>
    </div>

    </div>
  </div>
</div>
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" data-interval="50" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1" data-interval="50"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2" data-interval="50"></li>
  </ol>
  <div class="carousel-inner home-medium">
    <div class="carousel-item active first-photo">
      <div class="carousel-caption d-none d-md-block">
          <h5 style="font-size: 36px; opacity: 0.7;">VISITE DE LA FERME</h5>
          <p style="font-size: 20px; opacity: 0.8;">Prenez contact, et venez découvrir nos animaux directement à la ferme.</p>
      </div>
    </div>
    <div class="carousel-item second-photo">
      <div class="carousel-caption d-none d-md-block">
          <h5 style="font-size: 36px; opacity: 0.7;">TERROIRS</h5>
          <p style="font-size: 20px; opacity: 0.8;">Nous nous efforçons de cultiver les saveurs de nos terroirs pour un produit unique.</p>
      </div>
    </div>
    <div class="carousel-item third-photo">
      <div class="carousel-caption d-none d-md-block">
          <h5 style="font-size: 36px; opacity: 0.7;">ELEVAGE A TAILLE HUMAINE</h5>
          <p style="font-size: 20px; opacity: 0.8;">Nous élevons nos animaux dans un environnement saint et avec amour.</p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<div class="container">
  <div class="about">
    <h4 class="text-center" style="margin: 60px 0;">ILS TÉMOIGNENT</h4>
    <div class="justify-content-around reviews my-3">
      <div class="first-review">
        <p class="text-left"><i class="fas fa-quote-left"></i></p>
        <div class="d-flex justify-content-center">
          <div style="width: 80%;">
            <p style="font-size: 19px; opacity: 0.7;"><em>Une viande savoureuse, d'un éleveur que nous connaissons ! Très satisfaits !</em></p>
          </div>
        </div>
        <p class="text-right"><i class="fas fa-quote-right"></i></p>
        <p>- Pierre et Aude, consommateurs</p>
      </div>
      <div class="second-review">
        <p class="text-left"><i class="fas fa-quote-left"></i></p>
        <div class="d-flex justify-content-center">
          <div style="width: 80%;">
            <p style="font-size: 19px; opacity: 0.7;"><em>Acheter en direct au producteur, avec un service professionnel et transparent c’est juste top !</em></p>
          </div>
        </div>
        <p class="text-right"><i class="fas fa-quote-right"></i></p>
        <p>- Celine K. consommatrice</p>
      </div>

      </div>
    </div>
  </div>
  <div class="modal fade bd-example-modal-lg" tabindex="-1" id="myModal" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <p class="text-center">Ce produit a bien été ajouté à votre panier: </p>
        <div class="d-flex justify-content-center">
        <div class="d-flex justify-content-around align-items-center product-added">
          <p class="text-center modalTest"><%= cl_image_tag(@pod.photo.key, height: '64', width: '96') %></p><p><%= @pod.name %></p><p><%= @pod.price %>€</p><p class="qtyAdded"></p><p class="qtyTotal"></p>
        </div>

        </div>
        <div class="d-flex justify-content-around">
          <p><%= link_to "CONTINUER MES ACHATS", products_path, class: "cart-btn" %></p>
          <p><%= link_to "VOIR MON PANIER", cart_path, class: "cart-btn-ctn" %></p>
        </div>
      </div>
    </div>
  </div>
</div>







