<%= render 'shared/navbar_colored' %>
<div class="larger-container" style="margin-top: 100px; min-height: 80vh;">
  <div class="d-flex">
  <div class="categories-choice">
    <h4>Catégories:</h4>
    <p><%= link_to 'Tout', categories_path %></p>
    <% @categories.each do |cat| %>
      <p><%= link_to cat.name, category_path(cat)%></p>
    <% end %>
  </div>
  <div style="min-height: 80vh;" class="container">
    <p style="margin-top: 15px;"><strong><%= @products.size %> Produits dans notre boutique actuellement :</strong></p>
    <div class="btn-group" style="margin: 20px 0;">
      <button type="button" class="btn btn-success dropdown-toggle dropdownbtn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Catégories
      </button>
      <div class="dropdown-menu">
        <% @categories.each do |cat| %>
          <%= link_to cat.name, category_path(cat), class: "dropdown-item" %>
        <% end %>
        <div class="dropdown-divider"></div>
        <%= link_to 'Tout', categories_path, class: "dropdown-item" %>
      </div>
    </div>
    <div class="cards">
      <% @products.each do |product| %>
        <%= link_to product_path(product) do %>
          <div data-aos="fade-up">
            <% if product.photo.attached? %>
              <div class="card-category" style="text-decoration: none; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path product.photo.key %>);">
            <% else %>
              <div class="card-category" style="text-decoration: none; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url();">
            <% end %>
          <div class="product-name">
            <%= product.name %>
          </div>
          <div class="product-place">
          </div>
          <div class="product-price text-right">
            <span>Acompte: <%= humanized_money_with_symbol(product.price) %></span>
          </div>
          </div>
      </div>
        <% end %>
      <% end %>
    </div>
</div>

  </div>
