<%= render 'shared/navbar_colored' %>
<div style="margin-top: 100px;" class="container">
  <h2 class="text-center" style="margin-top:100px;">Création d'un nouveau produit.</h2>
  <div class="form-inputs col-6 offset-3">
    <%= simple_form_for @product do |f| %>
    <%= f.input :name, label: "Nom" %>
    <%= f.input :description, label: "Description" %>
    <%= f.input :weight, label: "Poids" %>
    <%= f.input :categories, collection: @categories %>
    <%= f.input :stock, label: "Stock" %>
    <%= f.input :price_cents, label: "Prix(en cts)" %>
    <div class="upload-btn-wrapper">
    <label>Photo</label>
      <button class="cart-btn">Choisir une photo</button>
      <%= f.input :photo, as: :file, label: false %>
    </div>
    <%= f.input :delivery_fee, label: "Frais de port(en €)" %>
</div>
  <div class="form-actions">
    <p class="text-center"><%= f.button :submit, "CRÉER", class: "cart-btn" %></p>
  </div>
  <% end %>
</div>

