<%= render 'shared/navbar_colored' %>
<div style="margin-top: 100px;" class="container">
  <h2 class="text-center" style="margin-top:100px;">Création d'un nouveau produit.</h2>
  <div class="form-inputs col-6 offset-3">
    <%= simple_form_for @product do |f| %>
    <%= f.input :name, label: "Nom" %>
    <%= f.input :description, label: "Description" %>
    <%= f.input :weight, label: "Poids" %>
    <%= f.input :stock, label: "Stock" %>
    <%= f.input :price_cents, label: "Prix(en cts)" %>
    <%= f.input :image_url, label: "Image url" %>
    <%= f.input :show_image_url, label: "Show image url" %>
</div>
  <div class="form-actions">
    <p class="text-center"><%= f.button :submit, "CRÉER", class: "cart-btn" %></p>
  </div>
  <% end %>
</div>

