<%= render 'shared/navbar' %>
<div class="home_banner">
  <h1 class="text-center">FERME DE <span>BEAU</span> PRINTEMPS</h1>
  <h5 class="text-center">AGRICULTURE BIOLOGIQUE</h5>
  <p class="text-center">Direct de l'éleveur au consommateur</p>
</div>
<div class="container">
  <div class="product d-flex">
    <div class="product-image">
      <%= image_tag('steakboeuf.png', height: 400, width: 550) %>
    </div>
    <div class="product-description">
      <h1><%= @product.name %></h1>
      <div class="d-flex align-items-center justify-content-between">
        <h4 style="opacity: 0.7;">Acompte: <%= @product.price %>€</h4>
        </%></h4>
        <p><%= link_to 'AJOUTER AU PANIER', add_to_cart_path(@product), method: :put %></p>
      </div>
      <div class="description">
        <p>Acompte de <%= @product.price %>€ à la commande<br>21€/kg soit 52,5€ au total</p>
        <p><strong>Votre colis contient :</strong></p>
        <p> 1,75KG de steak haché de boeuf race Limousine en Agriculture Biologique.<br>
            0,75 kg de steak de boeuf race Limousine en Agriculture Biologique
            Viande savoureuse et maturée minimum 10 jours. Particulièrement tendre.</p>
        <p><strong>Conditions de vente & Livraison :</strong></p>
          <p><strong>Acompte de 20€ & Frais de ports de 1,90€</strong> à régler <strong>en</strong> ligne lors de la commande (le solde sera à régler lors de la livraison selon le poids exact du colis +/- 5%
          Pour toute question appelez Michel au 06 58 96 38 05 !
          <p><strong>Informations complementaires sur nos produits :</strong></p>
          Viande de race Limousine issue de la Ferme de Beau Printemps à Petit-Réderching, exploitée par la famille BOTZUNG en Agriculture Biologique.
          Les animaux sont nourris essentiellement à l'herbe, et complémentés avec des céréales produites sur la ferme !
          Garantis sans maïs, soja ni OGM.</p>
          <p>En acceptant les <strong>Conditions Générales de Vente</strong>, vous acceptez de payer la différence selon le poids réel du colis livré. En cas de refus de votre part le colis ne sera pas délivré et l'acompte payé ne sera pas rétribué.</p>
      </div>
    </div>
  </div>
</div>



