<%= render 'shared/navbar_colored' %>
<!-- <div class="home_banner">
  <h1 class="text-center">FERME DE <span>BEAU</span> PRINTEMPS</h1>
  <h5 class="text-center">AGRICULTURE BIOLOGIQUE</h5>
  <p class="text-center">Direct de l'éleveur au consommateur</p>
</div> -->
<div class="container">
  <div style="margin-top: 100px;"class="product d-flex">
    <div class="image-recipe">
      <div class="product-image">
        <%= image_tag(@product.show_image_url, height: 320, width: 530) %>
      </div>
<!--  -->
    </div>
    <div class="product-description">
      <h1 id="product-name"><%= @product.name %></h1>
      <div class="d-flex align-items-center justify-content-between add_to_cart">
        <h4 id="productPrice" style="opacity: 0.7;" data-price="<%= @product.price %>">Acompte: <%= @product.price %>€</h4>
        <input type="number" id="bob" name="quantity" min="1" max="9" value="1">
        <%= link_to 'AJOUTER AU PANIER', "/cart/add/#{@product.id}.1", class: "cart-btn", method: :put, id: "btn", 'data-toggle' => "modal", 'data-target' => "#myModal" %>
      </div>
      <%#= raise %>
      <div class="description">
        <p>Acompte de <%= @product.price %>€ à la commande<br>21€/kg soit 52,5€ au total</p>
        <p><strong>Votre colis contient :</strong></p>
        <p> <em><%= sanitize @product.description %></em></p>
        <p><strong>Conditions de vente & Livraison :</strong></p>
          <p><strong>Acompte de 20€ & Frais de ports de <%= @product.delivery_fee %>€</strong> à régler en ligne lors de la commande (le solde sera à régler lors de la livraison selon le poids exact du colis +/- 5%
          Pour toute question appelez Michel au <strong>06 58 96 38 05</strong> !
          <p><strong>Informations complementaires sur nos produits :</strong></p>
          <p>Viande de race Limousine issue de la Ferme de Beau Printemps à Petit-Réderching, exploitée par la famille BOTZUNG en Agriculture Biologique.
          Les animaux sont nourris essentiellement à l'herbe, et complémentés avec des céréales produites sur la ferme !
          Garantis sans maïs, soja ni OGM.</p>
          <p>En acceptant les <strong>Conditions Générales de Vente</strong>, vous acceptez de payer la différence selon le poids réel du colis livré. En cas de refus de votre part le colis ne sera pas délivré et l'acompte payé ne sera pas rétribué.</p>
      </div>
    </div>
      <div class="edit">
        <% if user_signed_in? %>
          <% if current_user.admin %>
            <ul>
              <%= link_to product_path(@product), method: :delete, data: { confirm: "Êtes-vous sûr ?" } do %>
                <li><i class="fas fa-times" style="color: black"></i></li>
              <% end %>
              <%= link_to edit_product_path(@product) do %>
                <li><i class="far fa-edit" style="color: black;"></i></li>
              <% end %>
              <% if @product.pod == true %>
                <%= link_to product_productod_path(@product), remote: true do %>
                  <li><i class="fas fa-crown" style="color: #43E140;"></i></li>
                <% end %>
              <% else %>
                <%= link_to product_productod_path(@product), remote: true do %>
                  <li><i id="podCrown" class="fas fa-crown" style="color: black;"></i></li>
                <% end %>
              <% end %>
            </ul>
          <% end %>
        <% end %>
      </div>
  </div>
  <div class="ok"></div>
<div class="modal fade bd-example-modal-lg" tabindex="-1" id="myModal" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <p class="text-center">Ce produit a bien été ajouté à votre panier: </p>
      <div class="d-flex justify-content-center">
      <div class="d-flex justify-content-around align-items-center product-added">
        <p class="text-center modalTest"><%= image_tag(@product.show_image_url, height: '64', width: '96') %></p><p><%= @product.name %></p><p><%= @product.price %>€</p><p class="qtyAdded"></p><p class="qtyTotal"></p>
      </div>

      </div>
      <div class="modal-btn d-flex">
        <p><%= link_to "CONTINUER MES ACHATS", products_path, class: "cart-btn" %></p>
        <p><%= link_to "VOIR MON PANIER", cart_path, class: "cart-btn-ctn" %></p>
      </div>
    </div>
  </div>
</div>
</div>








